  @import url('https://fonts.googleapis.com/css2?family=Asap|Oswald');

* {
  margin:0;
  padding:0;
  border:0;
}

body {
  font-family: Asap;
  color: black;
  background-color: azure;
}

h2 {
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: black;
}

#logo {
  float:left;
  font-size: 280%;
}

#menu {
  font-size: 110%;
  list-style-type: none;
  letter-spacing: 4px;
  float: right;
}

#logo, #menu {
  line-height: 75px;
}

#menu li {
  float: left;
  margin-right: 30px;
}

#menu a {
  text-decoration:none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #777777;
}

.active {
  border-bottom: 1px solid #777777;
}

#hero-image {
  height: 600px;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1593358578769-b7a7cf27cba7?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

#cover-text {
  font-size: 280%;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;
  
  
  width: 850px;
  height: 100px;
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: rgb(255, 255, 255, 50%);

  bottom: 50px;
  right: 500px;

  position: absolute;
}

#motto {
  font-size: 50%;
}

#who-are-we {
  margin: 20px 0;
  text-align: center;
  font-size: 280%;
}

#ethos h3 {
  text-align: center;
  font-size: 150%;
}


#about {
  margin: 50px;
  text-align: center;
  font-size: 150%;
  letter-spacing: 2px;
}


#offerings {
  background-image: url(https://images.unsplash.com/photo-1514994444123-10094655bdb5?q=80&w=2651&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

#offerings div {
  background-color: rgb(255, 255, 255, 70%);
  width: 30%;
  height: 100px;
  float: left;
  padding: 20px 20px;
  text-align: center;
  margin: 4px;
}

footer {
  height: 50px;
}

.socials{
  text-align: center;
}

.socials li {
  display: inline;
}

ul .sm {
  font-size: 150%;
  margin: 2%;
  padding: 5%;
  color: black;
  
}


